data/**/*.blend filter=lfs diff=lfs merge=lfs -text
data/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
data/**/*.npz filter=lfs diff=lfs merge=lfs -text
data/**/*.png filter=lfs diff=lfs merge=lfs -text
